body {
    /* Positioning */
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
  
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    /* Visual */
    background-color: hsl(0, 0%, 65%) !important;
    margin-left:0 ;
    margin-right: 0;
  }
  

.box {
    position: relative;  
    width: 131px;
    height: 50px;
    border: 1px solid rgb(39, 156, 150);
    color:rgb(39, 156, 150);
    padding-left: 6px;
    margin-left:70px;

}
.green{
    background: rgb(39, 156, 150);
}
.navbar-brand { 
    font-family:serif !important; 
    font-size: 1.5em !important;
    font-weight: bold !important;
    color:rgb(255, 255, 255) !important;
    /* margin-left:0px !important; */

}

.navbar { 
    font-family:serif !important; 
    font-size: 1.5em !important;


}

@media only screen and (max-width: 767px) { 
  .box{
     padding-left: 0px;
     padding-right: 2px;
      margin-left:75px;
      width:144px;
  
  }
  }


/* .container{

    position: relative;  
    width: 900px;
    height: 800px;
    border: 1px solid rgb(39, 156, 150);
    color:rgb(39, 156, 150);
    padding-left: 6px;


} */



/* ----DESCRIPTION START---- */
.mydescription-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  .mydescription-content {
    /* Box-model */
    padding: 30px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: rgb(255, 255, 255);
  }
  
  .mydescription-content > p {
    /* Box-model */
    padding-top: 20px;
  
    /* Typography */
    font-size: 16px;
    line-height: 30px;
    color: slategray;
  }
  
  .mydescription-text {
    padding-bottom: 20px;
  }
  
  #mydescription-image {
    /* Positioning */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   
    /* Box-model */
    /* width: 240px;
    height: 230px;
    margin-top: 20px;
    margin-right: 20px; */
  }
  
  /* Description content media query */
  @media only screen and (max-width: 767px) {
    /* override default class styling for positioning/padding */
  
    .mydescription-content {
      /* Box-model */
      padding: 5;
  
      /* Positioning */
      margin-top: 5;
    }
  }

/* ----IMAGE NAV START---- */
#imageNav-area {
    width: 100%;
  
    /* Box-model */
    padding: 30px 30px 43px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: #fff;
  }
  
  .imageNav-header {
    /* Positioning */
    margin-bottom: 15px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  .imageNav-photo {
    width: 140px;
  
    /* Box-model */
    height: 140px;
  }
  
  .imageNav-photo:hover {
    /* Visuals */
    opacity: 0.6;
  }
  
  .imageNav-photo.active {
    /* Visuals */
    border: 2px solid #4aaaa5;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }
  
  /* ----IMAGE NAV END---- */
  
  .footer >p{
    color:white
  }